.description_wacomcintiq{
    height: 800px;
    width: 100%;
    margin-top: 100px;
    color: white; 
    background-image: url("../img/background1.png");
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    //background-attachment: fixed;
    

    &__info{
        width: 40%;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 120px;
        padding-bottom: 30px;



        h4{
            color: $primary-color;
        }
    }

    &__image{
        margin-top: 200px;
        
    }
}

@media (max-width: 600px){

.description_wacomcintiq{
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    height: 1000px;


    &__info{
        width: 100%;
        text-align: center;
    }

    &__image{
        margin-top: 50px;
        width: 100%;

    }
}
}