.fixedbody{
    margin-top: 150px;
}

.titleshop{
    color: white;
    margin-left: 50px;
}

.productCart{
    width: 50%;
    margin: auto; 
    
    margin-top: 50px;
    border: 1px solid gray;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;
    border-radius: 10px;
  
    &__contentimg{
        width: 100px;
        height: 100px;
        object-fit: contain;
        padding: 10px;
        margin-right: 20px;
        border: 1px solid gray;
        border-radius: 5px;
        margin: 20px;
    }

    &__info{
        margin: 20px;
    }

    &__title {
        margin-top: 0px;
    }
    &__price {
        font-size: 30px;
    
    }
}


@media (max-width: 600px){

    .fixedbody{
        margin-top: 80px;
    }
    .productCart{
        width: 100%;
        margin: auto;
        margin-bottom: 10px;

    }

}


