.description3{
    margin-top: 200px;
    color:white; 
    text-align: center;
    align-items: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
    padding-top: 200px;

    h3{
        padding-bottom: 50px;
    }

    p{
        font-weight: lighter;
    }
    
    
}