.footer{
    width: 100%;
    background-color: white;
    margin-top: 500px;
    display: flex;
    flex-direction: row;
    
}

.footer_content{
    margin-top: 100px;
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    height: 250px;
    

    &__text{
        background-color: white;
        


        p{
            padding-top: 20px;
            padding-bottom: 20px;
            color: $primary-color;
            font-size: 20px;
            margin: auto;
            width: 100%;
        }
        
        width: 60%;
        flex-direction: column;
        

        
            ul{
                li{
                    width: 100%;
                    font-weight: lighter; 
                }
            }
        
    }

    &__line{
        height: 100%;
        width: 8px;
        background-color: $primary-color;
        margin: auto; 
    }

    &__about{

        p{
            margin: auto;
            width: 100%;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
            color: $primary-color;
            font-size: 20px;
        }
        width: 40%;
        flex-direction: column;
        padding-left: 20px;

        ul{
            
            li{
                width: 100%;
                font-weight: lighter; 
            }
        }
        
    }
    
}

@media (max-width: 600px){
    .footer{
        height: 500px;
    }
    
}