.footer{
    width: 100%;
    background-color: white;
    margin-top: 500px;
    display: flex;
    flex-direction: row;
}

.footer_content{
    margin-top: 100px;
    background-color: white;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    

    &__text{
        
        width: 60%;
    }

    &__line{
        height: 100%;
        width: 8px;
        background-color: $primary-color;
        margin: auto; 
    }

    &__about{
        width: 40%;
        
    }
    
}