.gallery_carrousel {
    padding-top: 200px;
    margin: auto;
    width: 64%;
    overflow: hidden;
  
    &__stripe {
      display: flex;
      transition: transform .6s ease;
    }

    &__slider{
        margin: auto;
        align-items: center;
        width: 100%;
    }
  }