header{
    background-color: white;
    font-family: $font;  
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: top 0.2s linear;
}

.content_nav{
    display: flex;  
    position: relative;
       
}

.nav_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
    

}

.nav_menu{
    display: flex; 
    flex-wrap: wrap;
    margin: auto;
    margin-right: 10px;
    z-index: 10;
  

    img{
        width: 30px;
        height: 30px;
        margin: 20px;
    }


}

.nav_wrapperr{
    list-style-type: none;
    color: $primary-color; 
}

.nav_wrapperrr{
    float: left;
    text-align: center;
    margin-bottom: 0px;  
    padding: 0px 20px;
    top: 0px; 
    margin-right: 100px;
}

@media (max-width: 600px){
    header{

        .content_nav{
            img{
                height: 60px;
                width: 120px;
            }
        }
    }

    ul{
        list-style-type: none;
        color: $primary-color; 
    }
    
    li{
        float: left;
        text-align: center;
        margin-bottom: 0px;  
        padding: 0px 8px;
        top: 0px; 
        margin-right: 8px;
        font-size: 15px;
        

    }
}

