.nav_icons{
    
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding: 40px 80px;
    align-items: baseline;
    height: 10px;

    p {
        text-align: center;
        color: white;
    }

}