.form {
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
    color: white;
  
    &__title {
      margin-top: 0;
      color: white;
    }
  
    &__label {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      color: white;
    }
  }

  .loader {
    display: none;
  
    &--show {
      display: block;
    }
  }