.pencil_description{

    margin-top: 200px;
    align-items: center;
 


    img{
        width: 100%;
    }



}

@media (max-width: 600px){
.pencil_description{
    display: flex;
    flex-direction: column;

    div:last-child{
        position: static;
    }
}
}