body{
    width: 100%;
    overflow: hidden;
    background-color: black;
}

.scroll{

    &-down {
        position: absolute;
        bottom: 30px;
        left: 50%;
        transform: translate(-50%, 0);
        color: white;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 16px;
        overflow: visible;
        
    }
    
    &-down .arrow {
        position: relative;
        top: -4px;
        margin: 0 auto;
        width: 20px;
        height: 20px;
        background-image: url(./../imgInteraccion/flecha-hacia-abajo.svg);
        background-size: contain;

    }
}



model-viewer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
}

model-viewer {
    --poster-color: transparent;
  }



section {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reveal {
    position: relative;
    color: black;
    font-size: 2.5rem;
    padding: 0 10px;
    font-weight: 500;
    transform-origin: left;
    transform: scaleX(0);
    transition: 0.5s;
    transition-delay: 0.5s;
}

.reveal:nth-child(2) {
    font-weight: 300;
    font-size: 1.5rem;
    letter-spacing: 2px;
    display: inline-block;
}

.reveal img {
    position: relative;
    display: block;
}

.reveal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $primary-color;
    transform-origin: right;
    transition: 0.5s;
    transition-delay: 0s;
}

.reveal:nth-child(2)::before {
    background-color: $secundary-color;
}

.reveal.active {
    transform: scaleX(1);
}

.reveal.active::before {
    transform: scaleX(0);
    transition-delay: 0.5s;
}



.reveal__one {

    &--section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 5%;
        position: relative;

        h1{
            margin: 32px;
            text-align: center;
            font-size: 64px;
        }

        h2{
            margin: 8px;
            text-align: center;
        }

        img{
            position: absolute;
            width: 40%;
            right: 30%;
        }
    }
}

.reveal__two {

    &--section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 5%;
        position: relative;
        h1{
            height: 50%;
            text-align: left;
            padding-top: 64px;
            width: 33%;
        }

        p{
            position: absolute;
            display: flex !important;
            justify-content: right;
            height: 50%;
            text-align: right;
            padding-top: 32px;
            width: 33%;
            right: 0;
            bottom: 0;
        }
    }
}

.reveal__three {
    &--section{
        width: 100%;
        height: 100%;
        display: flex;
        margin: 5%;
        position: relative;
        justify-content: space-between;

        h1{
            width: 33%;
            text-align: center;
            margin: auto 0;
        }

        p{
            width: 33%;
            text-align: center;
            margin: auto 0;
        }
    }
}

.reveal__four {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    &--section{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin: 5% 16px;
        position: relative;
        justify-content: space-evenly;

        p{
            padding-left: 5%;
            width: 30%;
            font-size: 24px !important;
            font-weight: 600 !important;
        }

        img{
            position: absolute;
            right: -20%;
            width: 60%;
        }
    }
}

.reveal__five{
    display: flex;
    flex-direction: column;

    h1{
        margin: 32px;
    }

    img{
        margin: auto 0;
        width: 50%;
    }

    p{
        margin: 8px;
    }
    .btns{
        display: flex;
        justify-content: space-evenly;
        margin: 16px;
    }
}
