.bodyfull{
background-color: black;

&--primary {
  background-color:$primary_color;
}

&--secondary{
  background-color: $secundary_color;
}
}

.formbody{
  margin-top: 150px;
}

.bodyProduct{
  margin-top: 150px;

}


.header_shop{

  .auth{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-right: 10px;
    z-index: 10;
    justify-content: space-between;

    &__without{
      

      img{
        width: 50px;
        height: 50px;
        margin: auto;
        
      }



      a{
        margin-right: 20px;
      }
      
    }

    &__with{

      img{
        width: 30px;
        height: 30px;
        margin: auto;
      }

      
      a{
        margin-right: 20px;
      }

      &__signout{
        img{
          width: 30px;
          height: 30px;
          margin: auto;
          
        }
        


      
        a{
          margin-right: 20px;
        }

      }
      
    }

    .addproductlink{
      margin-right: 20px;
    }
    
    
    
    
  }

}


.body_shop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 200px;

  
}
.shop_filter{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;

}



.productslist{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    
    

}
.product{
    
    width: 319px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    
  
    &__img {
      width: 319px;
      height: 212px;
      object-fit: contain;
      padding: 10px;

   
      border-radius: 5px;
      border-bottom: 1px solid gray;
    }
    &__info{
        padding: 10px;
        align-items: center;
        text-align: center;
    }

    &__title {
      margin-top: 0px;
      
    }
    &__price {
        margin-top: 0px;
        font-weight: normal;
        font-size: 24px;
    }
  }
  
  
  
  .form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
    background-color: white;
  
    &__title {
      margin-top: 0;
    }
  
    &__label {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &__error{
      color: red;
      font-weight: lighter;
    }

    &__save{
      color:green;
      font-weight: lighter;
    }
  }

  .loader{
    display: none;

    &--show{
      display:block;
    }
  }

  .loader2{
    display: none;

    &--show{
      display:block;
      position: relative;
    }
  }

  #container{
    position: relative;
  }

.hidden{
  display: none;
}

.nav_filter{
  width: 100%;

}

.filterbtn{
  margin-right: 20px;
}

.nav_order{
  margin-top: 0px;
  color: white;
  width: 20%;
  justify-content: space-around;
  padding-right: 20px;
  
  &__title{
    margin-bottom: 40px;
    border-bottom: 5px solid $secundary_color;
    font-size: 20px;

  }

  &__price{
    margin: auto;
    font-weight: lighter;

    h4{
      font-weight: normal;
    }

    ul{

      li{
        font-weight: lighter;
      }

    }
  }

  &__delivery{
    margin: auto;
    font-weight: lighter;

    h4{
      font-weight: normal;
    }

    ul{

      li{
        font-weight: lighter;
      }

    }
  }
}


@media (max-width: 600px){

  .body_shop{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 120px;
  
    
  }

 
  .productlist{
    margin: auto;
    margin-top: 200px;
    margin-left: 50px;
    width: 100%;
   
  }

  .product{
    margin: auto;
    margin-top: 20px;
  }

  .nav_menu{
    &__img{
      width: 30px;
      height: 20px;
      //margin: auto;
    }
  }

  .auth{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    z-index: 10;
    justify-content: space-between;
    

    &__without{

      img{
        width: 30px;
        height: 30px;
        margin: auto;
        
      }
      


      a{
        margin-right: 5px;
        
      }
      
    }

    &__with{

      img{
        width: 30px;
        height: 30px;
        margin: auto;
        
      }

      
      a{
        margin-right: 5px;
      }
      
    }

    .addproductlink{
      margin-right: 5px;

      img{
        width: 30px;
        height: 30px;
        margin: auto;
        
      }
    }
    
    
    
    
  }

  .formbody{
    margin-top: 100px;
  }



  

}
