
.productslist{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    

}
.product{
    
    width: 319px;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 20px;
    
  
    &__img {
      width: 319px;
      height: 212px;
      object-fit: contain;
      padding: 10px;

   
      border-radius: 5px;
      border-bottom: 1px solid gray;
    }
    &__info{
        padding: 10px;
        align-items: center;
        text-align: center;
    }

    &__title {
      margin-top: 0px;
      
    }
    &__price {
        margin-top: 0px;
        font-weight: normal;
        font-size: 24px;
    }
  }
  
  
  
  .form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
    background-color: white;
  
    &__title {
      margin-top: 0;
    }
  
    &__label {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &__error{
      color: red;
      font-weight: lighter;
    }
  }

  .loader{
    display: none;

    &--show{
      display:block;
    }
  }

.hidden{
  display: none;
}

.nav_filter{
  margin-top: 200px;
}

.nav_navigation{
  margin-top: 0px;
  color: white;
  width: 40%;
  justify-content: space-around;
  
  &__title{
    margin-bottom: 20px;
  }

  &__order{
    margin: auto;
    font-weight: lighter;
    

  }
}