@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,700&display=swap");
body {
  background-color: black;
  font-family: "Roboto", sans-serif;
  margin: auto;
}

.description5 {
  background-color: white;
}

header {
  background-color: white;
  font-family: "Roboto", sans-serif;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-transition: top 0.2s linear;
  transition: top 0.2s linear;
}

.content_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.nav_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
}

.nav_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  padding: 0px 60px;
  margin-right: 10px;
}

ul {
  list-style-type: none;
  color: #272727;
}

li {
  float: left;
  text-align: center;
  margin-bottom: 0px;
  padding: 0px 20px;
  top: 0px;
  margin-right: 10px;
}

.description_wacomcintiq {
  height: 600px;
  max-width: 1300px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 120px;
  padding-bottom: 30px;
  color: white;
  background-image: url("./../img/background1.png");
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.description_wacomcintiq__info {
  width: 40%;
}

.description_wacomcintiq__image {
  margin: auto;
  border-radius: 1;
  background-color: white;
}

.nav_icons {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 40px 80px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 10px;
}

.nav_icons p {
  text-align: center;
  color: white;
}

.new_model {
  margin-top: 300px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  color: white;
}

.new_model h1 {
  color: white;
}

.description2 {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-top: 200px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.description2__text {
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
}

.description2__text h3 {
  text-align: center;
}

.pencil_description {
  margin-top: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.description3 {
  margin-top: 200px;
  color: white;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 400px 0 400px;
}

.description4 {
  margin-top: 200px;
}

.description4__text1 {
  color: white;
  text-align: center;
  width: 40%;
}

.description4__text2 {
  color: white;
  text-align: center;
  width: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-top: auto;
}

.description4__image {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

.opinion {
  height: 600px;
  max-width: 1300px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 120px;
  padding-bottom: 30px;
  color: #F07C63;
  background-image: url("./../img/image 27.png");
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.opinion__background {
  background-color: white;
  border-radius: 50%;
  width: 50%;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.opinion__info {
  width: 500px;
  height: 500px;
  background-color: white;
  text-align: center;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.ad {
  margin-top: 400px;
  width: 100%;
}

.table_specs {
  margin-top: 200px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
}

.table_specs__line {
  background-color: #51C5D1;
  width: 500px;
  height: 5px;
}
/*# sourceMappingURL=main.css.map */