@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,700&display=swap');

$primary-color:#51C5D1;
$secundary-color: #F07C63; 
$font: 'Roboto', sans-serif;

// commentary


body{

    background-color: black;
    font-family: $font;  
    margin: auto;

}




.description5{
    background-color: white;
}




@import 'header';
@import 'banner';
@import 'nav_icons';
@import 'new_model';
@import 'description2';
@import 'pencil_description';
@import 'description3';
@import 'description4';
@import 'description5';
@import 'opinion';
@import 'ad';
@import 'table';
@import 'newsletter';
@import 'footer';







