@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;1,700&display=swap');

$primary-color:#51C5D1;
$secundary-color: #F07C63; 
$font: 'Roboto', sans-serif;

// commentary

header{
    background-color: white;
    font-family: $font;  
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    transition: top 0.2s linear;
}

.content_nav{
    display: flex;  
    position: relative;
       
}

.nav_wrapper{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;

}

.nav_menu{
    display: flex; 
    flex-wrap: wrap;
    margin: auto;

}

ul{
    list-style-type: none;
    color: rgb(39, 39, 39); 
}

li{
    float: left;
    text-align: center;
    margin-bottom: 0px;  
    padding: 0px 0px;
    top: 0px; 
    margin-right: 10px;
}



body{

    background-color: black;
    font-family: $font;  

}

.description_wacomcintiq{
    height: 600px;
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 120px;
    padding-bottom: 30px;
    color: white; 
    background-image: url("./../img/background1.png");
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;

    &__info{
        width: 40%;
    }

    &__image{
        margin: auto;
    }
}

.nav_icons{
    
    margin-top: 120px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around;
    padding: 40px 40px;
    align-items: baseline;

    p {
        text-align: center;
        color: white;
    }

}

.new_model{
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;

    h1{
        color: white;   
    }
}

.description2{
    color:white; 
}

.description3{
    color:white; 
}

.description4{
    
    &__text1{
        color: white;
    }

    &__text2{
        color: white;
    }
}

.description5{
    background-color: white;
}






